@charset "UTF-8";

/* ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬            Header           ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬ */
header{
    width: 100vw;
    height: 80px;
    position: relative;
    background-image: linear-gradient(to right, var(--cor5), var(--cor4));
}

header > img#logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
}

span#menu{
    position: absolute;
    top: 21px;
    left: 0%;

    font-size: 2.3em;
    text-align: center;

    color: var(--cor6);
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor2));
    text-shadow: 0px 0px 15px yellow;
    box-shadow: 1px 0px 5px var(--cor6);
    border-radius: 2px;

    padding: 3px;
}
/* ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬            Menu           ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬ */

menu{
    display: none;
}

menu > div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    background-image: linear-gradient(to right, var(--cor5), var(--cor4));
    box-shadow: 0px 2px 5px black;
}

menu > div > p > a{
    height: 25px;
    display: block;
    width: 130px;
    margin: 3px;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    
    color: var(--cor5);
    background-color: lightgoldenrodyellow;
    box-shadow: 2px 2px 5px black;
    border-radius: 5px;
    
    padding: 8px;
}

menu > div > p > a:hover{
    background-color: var(--cor1);
    color: var(--cor5);
    box-shadow: 0px 0px 15px white;
}

/* ==============================        Pagina Gradezas      =============================== */
body{
    background-image: linear-gradient(to right, darkslategray, rgb(45, 54, 54));
}

main#principal > h1#titulo{
    padding: 20px;
    margin-bottom: 10px;
    
    font-family: var(--font-paragrafo);
    text-align: center;
    font-variant: small-caps;
    font-size: 2em;

    color: var(--cor1);
    text-shadow: 4px 4px 4px black;


}

main#principal > div#botoes{
    width: 330px;
    margin: auto;
    display: flex;/* container flexivel */
    flex-direction: row;/* Define o eixo principal como horizontal da esquerda para direita */
    flex-wrap: nowrap;/* Itens fiquem na mesma linha */
    justify-content: space-evenly;/* Distribui os itens uniformemente com espaços iguais entre eles. */
    align-items: stretch;/* Estica os itens para preencher o contêiner (este é o valor padrão) */
}

main#principal > div > p.button{
    width: 130px;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.9em;
    margin-bottom: 6px;

    color: var(--cor6);
    background-color: lightgoldenrodyellow;
    border: 1px solid var(--cor2);
    box-shadow: 0px 0px 8px var(--cor6);

    padding: 5px 2px;

}

main#principal > section.caixa{
    display: none;
    width: 300px;
    margin: auto;
    margin-top: -30px;
    padding: 45px 15px 30px 15px;

    text-align: justify;
    font-family: var(--font-paragrafo);

    border: 3px solid var(--cor1);
    background-color: white;
    border-radius: 5px;
}

section.caixa > h2{
    text-align: center;
    font-family: var(--font-paragrafo);
    font-size: 1.2em;
    padding: 15px;
}

section.caixa > p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 21px;
    text-indent: 15px;
    margin-bottom: 10px;
}

strong{
    color: darkred;
}

.pessoa{
    color: var(--cor4);
}

.calculos{
    text-align: left;
    text-transform: uppercase;
    text-indent: 5px;
    color: var(--cor4);
    font-style: italic;
    padding: 3px;
    font-size: 0.8em;
}

fieldset{
    position: relative;
    background-color: rgb(253, 250, 241);
    border: 3px solid var(--cor4);
    padding: 10px;

    margin-top: 8px;
}

legend{
    font-size: 1.3em;
    text-align: center;
    font-family: var(--font-titulo);

    background-color: var(--cor4);
    color: var(--cor1);
    border: 2px solid var(--cor6);
    border-radius: 7px;

    padding: 4px 8px;
}

label{
    position: absolute;
    left: 10px;
    text-align: left;
    font-size: 1.2em;
    text-transform: uppercase;

    padding: 5px 1px;

}

input{
    position: absolute;
    left: 165px;
    text-align: center;
    width: 100px;
    padding: 2px 1px;

    border: 2px solid var(--cor4);
    font-size: 1.2em;
}

select{
    position: absolute;
    left: 165px;
    text-align: center;
    width: 107px;
    height: 30px;
    padding: 3px 1px;

    border: 2px solid var(--cor4);
    font-size: 1.1em;
}

input[type='button']{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    margin: auto;
    margin-top: 15px;
    width: 100px;
    height: 40px;

    text-align: center;
    font-size: 1em;
    font-family: var(--font-paragrafo);
    text-transform: uppercase;

    background-color: var(--cor4);
    border: 3px solid var(--cor6);
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.329);
    color: white;
}

div.resultado {
    display: block;
    margin: auto;
    width: 210px;
    text-align: center;
    font-size: 2em;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    margin-top: 15px;
}

/* ============================================ RESISTIVIDADE ====================================== */

section.caixa > img{
    display: block;
    margin: auto;
    width: 200px;
    transition: 1s ease;
}

section.caixa > img:hover{
    transform: scale(1.5);
    box-shadow: 0px 0px 500px rgb(0, 0, 0);
    border: 2px solid var(--cor1);
}

/* ============================================ GERADORES ====================================== */

main#principal > div#botoes.quebraLinha{
    width: 280px;
    margin: auto;
    margin-bottom: 30px;
    display: flex;/* container flexivel */
    flex-direction: row;/* Define o eixo principal como horizontal da esquerda para direita */
    flex-wrap: wrap;/* Quebrar a linha */
    justify-content: space-between;/* Distribui os itens uniformemente, com o primeiro item alinhado ao início e o último item ao final. */
    align-items: flex-start;/* : Alinha os itens ao início do contêiner no eixo transversal. */
    align-content: space-around;
}

p#resumo{
    width: 290px;
    display: block;
    margin: auto;
    margin-bottom: 20px;

    text-align: justify;
    font-size: 1.3em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    color: white;
}

/* ======================================= CAPACIDADE======================================= */

div.resText > div{
    margin: 10px 0px;
}


div.resText  h2{
    margin-top: 12px;
    padding: 5px 0px;

    text-align: center;
    font-size: 1.1em;
    font-weight:bold;
    text-transform: uppercase;

    color: var(--cor4);
    background-color: white;
    box-shadow: 1px 1px 3px black;
}

h2 > p{
    display: inline-block;
    text-transform: lowercase;
}

div.resText > div > p{
    width: 260px;
    display: block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 8px;

    font-size: 1.11em;
    font-family: var(--font-paragrafo);

    background-color: white;
    color: var(--cor4);
    box-shadow: 1px 1px 3px black;
}

div.resText >div > p > strong{
    color: darkred;
}

div.resImg{
    width: 280px;
}
    
div.resImg > img{
    display: none;
    width: 100%;
    border: 2px solid var(--cor4);
}


    
