@charset "UTF-8";

/* ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬      Paletas e Fontes      ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬ */
@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap');

/* ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬         Variaveis         ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬ */

:root{
    --font-assinatura: "Annie Use Your Telescope";
    --font-paragrafo: "Electrolize";
    --font-titulo: "Jaro";
    --cor1: #FFD35C;
    --cor2: #FFBA41;
    --cor3: #F5A302;
    --cor4: #01537B;
    --cor5: #033C59;
    --cor6: #0C1E34;

}

/* ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬           Geral           ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬ */

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    width: 100vw;
    height: 100vh;
}




/* ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬        Section Botoes      ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬ */

section.botoes{
    position: relative;
    margin: auto;
    width: 100vw;
    height: 100vh;

    background-image:linear-gradient(to right, var(--cor4) , var(--cor5));
}

section.botoes > img#logo{
    position: absolute;
    left: 50%;
    top: 45px;
    transform: translateX(-50%);
    width: 130px;
}


section.botoes > a{/* Para todos os botoes */
    width: 126px;
    height: 46px;
    color: lightgoldenrodyellow;
    color: black;
    background-color: white;
    border: 5px solid var(--cor1);
    border-radius: 7px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.397);

    font-family: var(--font-paragrafo);
    text-decoration: none;
    text-align: center;
}

a#botao1{
    position: absolute;
    top: 210px;
    left: 30px;

    font-size: 1.2em;
    
}

a#botao2{
    position: absolute;
    top: 210px;
    left: 190px;

    font-size: 1.2em;
}

a#botao3{
    position: absolute;
    top: 290px;
    left: 30px;

    font-size: 1.2em;
}


